.sidebar__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    color: white;
    font-size: 13px;
    border-bottom: 3px solid #26282c;
}

.sidebar {
    color: gray;
    display: flex;
    background-color: #2f3135;
    flex-direction: column;
    flex: 0.225;
    height: 100%;
}

.sidebar__channelsHeader {
    display: flex;
    justify-content: space-between;
    color: #C7C7C9;
    font-size: 12px;
    text-transform: uppercase;
    align-items: center;
}

.sidebar__header {
    display: flex;
    align-items: center;
}

.sidebar__addChannel .MuiSvgIcon-root {
    color: white;
}

.sidebar__channels {
    color: gray;
    flex: 1;
}

.sidebar__sidebarVoice {
    display: flex;
    border-top: 1px solid gray;
    padding: 10px;
    align-items: center;
    justify-content: space-between;
}

.sidebar__voiceInfo {
    display: flex;
    flex-direction: column;
}

.sidebarVoice--wrapper {
    display: flex;
    align-items: center;
}

.sidebarVoice--wrapper .MuiSvgIcon-root {
    padding: 5px;
}

.sidebar__sidebarVoiceIcons * {
    margin: 2px;
}

.sidebar__profile {
    display: flex;
    background-color: #292B30;
    padding: 5px 10px;
    justify-content: space-between;
    align-items: center;
}

.sidebar__profileInfo {
    display: flex;
    align-items: center;
}

.sidebar__profileIcons {
    display: flex;
    align-items: center;
}

.sidebar__profileInfo * {
    margin: 5px;
    font-size: 11px;
    color: white;
}

.sidebar__profileIcons .MuiSvgIcon-root:hover {
    color: white;
    cursor: pointer;
}

.sidebar__profileIcons .MuiSvgIcon-root {
    margin: 2px;
}

.sidebar__profileAvatar {
    cursor: pointer;
}

.sidebar__channelsList {
    overflow: auto;
}

@media(max-width: 700px) {
    .sidebar {
        flex: 1;
    }
}